.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 40rem) {
  .main-div {
    display: block;
    margin: 20px 10%;
    padding: 20px;
  }
}

.main__left {
  color: whitesmoke;
  display: inline-block;
  padding: 5%;
  margin: 3%;
}
@media (max-width: 40rem) {
  .main__left {
    display: block;
    margin: 0 25%;
    padding: 2px;
  }
}

h1 {
  font-family: monospace;
  font-size: 35px;
  color: whitesmoke;
}
@media (max-width: 40rem) {
  h1 {
    font-size: xx-large;
  }
}

.degree {
  font-size: 65px;
  margin: 0px;
}
.icons {
  display: inline-block;
  padding: 3%;
  margin: 4%;
}
@media (max-width: 40rem) {
  .icons {
    display: block;
    margin: 0 30%;
    font-size: xx-small;
  }
}
.img {
  height: 200px;
  width: 300px;
}

.main__right {
  display: inline-block;
  padding: 3%;
  margin: 9%;
  color: whitesmoke;
}
@media (max-width: 40rem) {
  .main__right {
    display: block;
    margin: 0 20%;
  }
}
.main-bottom {
  border-radius: 20px;
  background: none;
  padding: 2%;
  margin: 10px 30px;
  position: relative;
  bottom: 20px;
}
@media (max-width: 40rem) {
  .main-bottom {
    margin-top: 70px;
  }
}
.day {
  margin: 13px;
  padding: 1%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  border: 1px solid rgb(255, 254, 254);
  text-align: center;
  background: none;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
  position: relative;
  font-family: monospace;
  font-size: larger;
  color: black;
}
.input:focus-visible {
  outline: none;
}

button {
  background-color: rgba(236, 230, 230, 0);
  border: 1px solid #fdfdfd;
  padding: 5px 15px;
  border-radius: 5px;
}
button:hover {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0);
}
body {
  margin: 0;
  padding: 0;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #2980b9
    url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
    repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  -moz-animation: 10s linear 0s normal none infinite animate;
  -ms-animation: 10s linear 0s normal none infinite animate;
  -o-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
